{% extends 'base.html' %}

{% block content %}
    <h1>Tours en Chile</h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
    {% for tour in tours %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ tour.nombre }}</h5>
                    <p class="card-text">Duración: {{ tour.dias }} días.</p>
                    <a href="/tour/{{ tour.id }}" class="card-link">Ir</a>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
    <a class="btn btn-primary btn-lg" href="/tour/create/" role="butotn">Agregar Tour</a>
{% endblock %}