{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">{{tour.nombre}}</h1>
    <p class="lead">Código de Catalogo: {{tour.id}}</p>
    <hr class="my-4">
    <p>Tiene {{tour.dias}} de duración</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Guia de aves</a>
    <a class="btn btn-primary btn-lg" href="/tour/{{ tour.id }}/update/" role="button">Actualizar</a>
    <a class="btn btn-primary btn-lg" href="/tour/{{ tour.id }}/delete/" role="button">Borrar</a>
</div>
{% endblock %}
